main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

app-square {
  border: 1px black solid;
  background: grey;
  height: 200px;
  text-align: center;
  font-size: 50px;
}

